.App{
    height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addLectionDesktop{
    height: 100vh;
    padding: 50px 300px;
    align-items: center;
    justify-content: center;
}

.addLectionMobile{
    height: 100vh;
    padding: 25px 25px;
    align-items: center;
    justify-content: center;
}